@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans Thai", sans-serif;
  text-decoration: none;
  position: relative;
}

body {
  background: #4361ee;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

header {
  width: 100%;
  height: 7vw;
  background-image: linear-gradient(white, #efefef);
}

.header-container {
  max-width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header-text {
  font-size: 2vw;
  color: white;
  margin: 0 10px;
  background-color: #4361ee;
  border-radius: 100px;
  padding: 5px 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
}

.logo-header-img {
  width: 15vw;
  display: flex;
  align-items: center;
}

nav {
  width: 100vw;
  height: 250px;
  overflow: hidden;
}

figure {
  position: relative;
  left: 0;
  width: 400%;
  animation: 20s slide infinite;
}

.nav-container {
  position: relative;
  width: 25%;
  float: left;
}

.banner-header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 0px;
  padding-top: 0px;
}

@keyframes slide {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  55% {
    left: -300%;
  }

  65% {
    left: -300%;
  }

  66% {
    left: -200%;
  }

  74% {
    left: -200%;
  }

  75% {
    left: -100%;
  }

  85% {
    left: -100%;
  }

  90% {
    left: 0;
  }

  100% {
    left: 0;
  }
}

.text-container-title {
  width: 90vw;
  height: 674px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text-title {
  color: white;
  margin-bottom: 5vw;
  font-size: 3vw;
}

.button-title {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.button-title-pay {
  background-color: white;
  font-size: 3vw;
  text-decoration: none;
  padding: 20px 60px;
  margin: 0 10px;
  color: black;
  border-radius: 100px;
  border: 2px solid white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-title-pay:hover {
  background-color: #fb8500;
  color: white;
}

.button-title-point {
  background-color: #4361ee;
  font-size: 3vw;
  text-decoration: none;
  padding: 20px 60px;
  margin: 0 10px;
  color: black;
  border-radius: 100px;
  border: 2px solid white;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-title-point:hover {
  background-color: #3046b1;
  color: white;
}

.text-container {
  width: 100%;
  height: 10vw;
}

.text-icon-point {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-icon {
  height: 100%;
  display: flex;
  align-items: center;
}

.text-bg {
  background-color: #fb8500;
  border-radius: 100px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text {
  color: white;
  margin: 0 7px;
  font-size: 2.5vw;
}

.icon {
  color: white;
  font-size: 2.5vw;
  margin: 0 7px;
}

.point-text {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-point {
  font-size: 2.5vw;
  color: white;
  background-color: #fb8500;
  border-radius: 100px;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logo-point:hover {
  border: 1px solid white;
  background-color: #ff6200;
}

.container {
  width: 90vw;
  height: 71.6vw;
  margin: 0 auto;
}

.product {
  width: 100%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.product-item {
  background: white;
  border-radius: 10px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.product-item-link {
  text-decoration: none;
}

.product-img {
  width: 100%;
  height: 20vw;
  object-fit: cover;
  border-radius: 10px;
}

.product-font1 {
  font-size: 2.3vw;
  color: black;
  text-align: center;
  font-weight: 600;
}

.product-font2 {
  font-size: 3vw;
  color: #d90429;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

.container-all {
  width: 90vw;
  height: 84.6vw;
  margin: 0 auto;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 2vw;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container-all-back-closed {
  width: 85vw;
  height: 7vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-all-back {
  margin-top: 20px;
}

.container-all-closed {
  width: auto;
  font-size: 4vw;
  margin-top: 20px;
  color: #383838;
  text-shadow: 3px 5px 10px #d6d6d6;
}

.logo-back {
  font-size: 2vw;
  color: white;
  background-color: #fb8500;
  border-radius: 100px;
  padding: 5px 40px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.logo-back:hover {
  background-color: #ff6200;
}

.container-product {
  width: 85vw;
  height: auto;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-product-text {
  width: 85vw;
  height: auto;
  margin: 10px auto;
  margin-top: 15vw;
  align-items: center;
  text-align: center;
}

.container-product-left-point {
  width: 30vw;
  height: auto;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-product-center {
  width: 60vw;
  height: auto;
  margin: 10px auto;
}

.container-product-left-right {
  width: 85vw;
  height: auto;
  margin: 10px auto;
  margin-top: 20px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 35vw auto;
}

.container-product-left {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 2px solid #d6d6d6;
}

.container-product-right {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #4361ee;
}

.container-right-column {
  width: 100%;
}

.container-product-left-column {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.product-all {
  width: 30vw;
}

.product-item-all {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box-text {
  width: 70vw;
  height: auto;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box-text-left {
  width: 100%;
  height: auto;
  background: #f4f4f4;
  border-radius: 20px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box-tab {
  width: 100%;
  height: 5vw;
  background: #4361ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.box-tab-right {
  width: 100%;
  height: 6vw;
  background: #4361ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 17px 17px 0px 0px;
}

.text-box {
  color: white;
  font-size: 2.5vw;
}

.box-pay {
  width: 100%;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 0 auto;
  text-align: center;
}

.box-pay-number {
  width: 30vw;
  padding: 10px;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
}

.box-pay-grid {
  width: 60vw;
  padding: 10px;
  display: grid;
  grid-template-columns: 140px auto;
  margin: 0 auto;
  align-items: center;
}

.box-pay-grid-left {
  width: auto;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  margin: 0 auto;
  align-items: center;
}

.img-pay-detail {
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-pay-detail-number {
  width: 7vw;
  height: 7vw;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4361ee;
  box-shadow: 5px 10px 20px #3046b1 inset;
}

.img-pay-detail-number:hover {
  background-color: #3046b1;
}

.img-pay-detail-number-del {
  width: 6vw;
  height: 6vw;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d90429;
  box-shadow: 5px 10px 20px #bf0603 inset;
}

.img-pay-detail-number-del:hover {
  background-color: #bf0603;
}

.img-pay-detail-number-done {
  width: 6vw;
  height: 6vw;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb8500;
  box-shadow: 5px 10px 20px #ff6200 inset;
}

.img-pay-detail-number-done:hover {
  background-color: #ff6200;
}

.pay-cash-link {
  text-decoration: none;
}

.cash-img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #4361ee;
  align-items: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.pr-promptpay-img {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cash-font {
  font-size: 2vw;
  color: black;
  text-align: center;
  font-weight: 500;
}

.cash-font-number {
  font-size: 2vw;
  color: white;
  text-align: center;
  font-weight: 500;
  text-decoration: none;
}

.numpad {
  width: 42vw;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.input-number {
  padding: 10px;
  width: 100%;
  border: 2px solid #fb8500;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  margin: 10px auto;
  font-size: 2vw;
  text-align: center;
  align-items: center;
}

.input-number:focus {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.text-number-all {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  margin-top: 10px;
}

.text-name-number1 {
  margin-bottom: 10px;
}

.text-number1 {
  font-size: 3vw;
  color: black;
  font-weight: 500;
}

.text-number2 {
  font-size: 5vw;
  color: #4361ee;
  font-weight: 600;
}

.text-number3 {
  font-size: 5vw;
  color: #fb8500;
  font-weight: 600;
}

.text-number4 {
  font-size: 5vw;
  color: #d90429;
  font-weight: 600;
}

.text-name-number2 {
  margin-top: 10px;
}

.text-name-number-all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.text-name-left {
  text-align: start;
}

.text-name-right {
  text-align: end;
}

.button-all {
  width: 100%;
  height: 18vw;
}

.button-all-points {
  width: 100%;
  height: 35vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-left-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.button-left {
  width: auto;
  margin: 0 10px;
  background-color: white;
  border: 2px solid #4361ee;
  border-radius: 100px;
  padding: 15px 60px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-right {
  width: auto;
  margin: 0 10px;
  background-color: #4361ee;
  border: 2px solid #4361ee;
  border-radius: 100px;
  padding: 15px 60px;
  text-align: center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-all-left {
  font-size: 3vw;
  color: black;
}

.button-left:hover {
  background-color: #f4f4f4;
}

.button-all-right {
  font-size: 3vw;
  color: white;
}

.button-right:hover {
  background-color: #fb8500;
  border: 2px solid #fb8500;
}

.container-text {
  width: 100%;
  height: auto;
}

.text-product-all {
  font-size: 3vw;
  color: black;
  font-weight: 500;
}

.container-text-icon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.container-icon-bg {
  width: 30vw;
  height: 30vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f4ff;
}

.container-icon-bg-blue {
  width: 30vw;
  height: 30vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4361ee;
}

.container-icon-bg-orange {
  width: 30vw;
  height: 30vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fb8500;
}

.container-icon-bg-green {
  width: 30vw;
  height: 30vw;
  border-radius: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #52b69a;
}

.icon-bg {
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-loading {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ring-loading {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 15px dotted #4361ee;
  border-radius: 100%;
}

.icon-loading .ring-loading {
  animation: loadingA 1.5s 0.3s cubic-bezier(0.5, 0.1, 0.5, 0.7) infinite;
}

@keyframes loadingA {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-register {
  width: 100%;
  height: auto;
  margin: 5px auto;
}

.button-register-bg {
  width: 100%;
  height: 6vw;
  border-radius: 100px;
  background-color: #fb8500;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.button-register-bg:hover {
  background-color: #ff6200;
}

.text-button-register {
  font-size: 2vw;
  color: white;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.numPad {
  border-radius: 10px;
  background: #111;
}
.numPad .disp input {
  width: 300px;
  padding: 20px;
  outline: none;
  border: none;
  background: none;
}
.indis {
  width: 40vw;
  height: 7vw;
  font-size: 2vw;
  text-align: center;
  border: 2px solid #fb8500;
  border-radius: 10px;
  outline: none;
}

.indis:focus {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.nums {
  margin: 10px auto;
}

.numPan .nums > .r div {
  width: 7vw;
  height: 7vw;
  margin: 7px;
  background-color: #4361ee;
  box-shadow: 5px 10px 20px #3046b1 inset;
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.numPan .nums > .r div:hover {
  background: #3046b1;
}

.numPan .nums > .r .button-del {
  width: 7vw;
  height: 7vw;
  margin: 7px;
  background-color: #d90429;
  box-shadow: 5px 10px 20px #bf0603 inset;
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.numPan .nums > .r .button-del:hover {
  background: #bf0603;
}

.numPan .nums > .r .button-ent {
  width: 7vw;
  height: 7vw;
  margin: 7px;
  background-color: #fb8500;
  box-shadow: 5px 10px 20px #e85d04 inset;
  color: white;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.numPan .nums > .r .button-ent:hover {
  background: #e85d04;
}

.bg-ok {
  text-decoration: none;
  background: none;
  border: none;
  font-size: 2vw;
  color: white;
  cursor: pointer;
}

.banner-add {
  width: 100vw;
  height: 100px;
}

.banner-add-home {
  width: 100%;
  height: 100%;
}

.banner-add-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 7vw;
  background-image: linear-gradient(white, #efefef);
}

.footer-container {
  max-width: 90vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  color: white;
}

.footer-button-logo {
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-button {
  display: flex;
  align-items: center;
}

.button-text {
  color: black;
  font-size: 2vw;
  margin-right: 10px;
}

.button-thai {
  font-size: 2vw;
  color: white;
  border: 2px solid #4361ee;
  margin: 0 5px;
  background-color: #4361ee;
  border-radius: 100px;
  padding: 5px 25px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  text-decoration: none;
  cursor: pointer;
}

.button-thai:hover {
  border: 2px solid #3046b1;
  background-color: #3046b1;
}

.button-eng {
  font-size: 2vw;
  color: black;
  border: 2px solid #d6d6d6;
  margin: 0 5px;
  background-color: white;
  border-radius: 100px;
  padding: 5px 25px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-eng:hover {
  color: white;
  border: 2px solid #fb8500;
  background-color: #fb8500;
}

.logo-university {
  width: 15vw;
  height: 100%;
  align-items: center;
  display: flex;
}